*,
*:before,
*:after {
    box-sizing: border-box;
}


body {font-family: "Roboto Condensed", sans-serif;
margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}
.header {
    padding: 48px 160px;
    text-align: center;
    background-color:#287c20
}
 
.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
 }

 .main > * + * {
  margin-top: 48px;
 }

.main > * {
  border-top: 2px solid black;
}

.main > *:first-child {
  border-top: none;
}

.nav-link:hover {
    color: black;
    background-color: yellow;
  }
  
.nav-link {
    padding: 4px 8px;
    color: black;
}
.nav-link:active {
    color: white;
    background-color: red;
  }
  
  .nav-link + .nav-link {
    margin-left: 12px;
  }

  .profession::before {
    content: "🎯"
  }
  
  .profession::after {
      content: "🎯";
  } 
  .hire-me {
    position: absolute;
    right: 16px;
    top: 16px;
    padding: 8px;
    border-radius: 4px;
    background: rgb(231, 85, 0);
    color: black;
  }